*{
    padding: 0;
    margin:0;
    font-family: 'Indie Flower', cursive;
}
header img{
    width: 200px;
    margin-bottom: -60px;
}
header{
    background-color: rgb(247, 242, 181);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 30px;

}

.title h1{
    color: rgb(99, 49, 3);
    font-size: 60px;
}
.slogan{
    font-size: 20px;
    font-weight: 600;
    color: rgb(99, 49, 3);
}

/* primer responsive header */

@media (max-width: 1200px) {
    header {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}    
}

@media (max-width: 900px){
   header {
    display: grid;
    grid-template-columns: repeat(1,1fr);
        }
}

@media (max-width: 600px) {
    header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}    
}

@media (max-width: 300px) {
    header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}    
}


.top{
    font-size: 18px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(99, 49, 3);;
}


main{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}


form{
    width: auto;
    display:flex;
    flex-direction:column;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin: 40px;
    padding: 100px;
    border-radius: 50px;
    background-image:url(../image/background.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover

}
.explanation{
    font-size: 12px;
    color: rgb(99, 49, 3);
}

input{
    border-radius: 10px;
    padding: 5px;
   
}

.input-names{
    display: flex;
    justify-content: center;
    margin: 10px;
    text-transform: uppercase;
    color: rgb(80, 75, 2)
}

.input-field{
    display: flex;
    flex-direction: column;
    
}

.category{
    display: flex;
    flex-direction: column;
}

select{
    border-radius: 10px;
    padding: 5px;
    
}

#submit{
    color: rgb(80, 75, 2);
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    background-color: rgb(247, 242, 181);
    border-color:rgb(80, 75, 2);
    border-radius: 10px;
    margin-top: 10px;
   
}

#submit:hover {
    color:grey;
}



.button{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


/*  responsive en main */
@media (max-width: 1200px) {
    main{
    display: grid;
    grid-template-columns: repeat(1,1fr);  
}
}

@media (max-width: 900px){
   main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
        }
}

@media (max-width: 600px) {
    main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
}    

@media (max-width: 300px) {
    main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
}  

footer{
    background-color: rgb(247, 242, 181);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.foot .text {
    color: rgb(80, 75, 2);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.foot .social img{
    height: 30px;
}

/*  responsive en footer */

@media (max-width: 1200px) {
    footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}    
}

@media (max-width: 900px){
   footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
        }
}

@media (max-width: 600px) {
    footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}    
}

@media (max-width: 300px) {
    footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}    
}