* {
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
}

header img {
    width: 250px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: -50px;
}

header {
    background-color: rgb(247, 242, 181);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

header a{
    color: rgb(99, 49, 3);
    font-size: 60px;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover{
    color: rgb(117, 113, 113);
}

/* primer responsive header */

@media (max-width: 1200px) {
    header{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 900px) {
    header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 300px) {
    header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (max-width: 1200px) {
    .img{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .img{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .img{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 300px) {
    .img{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}


#top {
    font-size: 18px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(99, 49, 3);
    ;
}

@media (max-width: 600px) {
    #top {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: 11px;
    }
}

@media (max-width: 300px) {
    #top {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: 11px;
    }
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}


form {
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin: 40px;
    padding: 100px;
    border-radius: 50px;
    background-image: url(../image/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.explanation {
    font-size: 12px;
    color: rgb(99, 49, 3);
}

input {
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;

}

.input-names {
    display: flex;
    justify-content: center;
    margin: 10px;
    text-transform: uppercase;
    color: rgb(80, 75, 2)
}

.input-field {
    display: flex;
    flex-direction: column;

}

.category {
    display: flex;
    flex-direction: column;
}

select {
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(80, 75, 2)
}

#add {
    color: rgb(80, 75, 2);
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    background-color: rgb(247, 242, 181);
    border-color: rgb(80, 75, 2);
    border-radius: 10px;
    margin-top: 10px;

}

#add:hover {
    color: grey;
}



.button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


/*  RESPONSIVE EN MAIN */
@media (max-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 900px) {
    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 300px) {
    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.container {
    padding: 100px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.box {
    background-color: rgb(247, 244, 215);
    width: 100%;
    display: grid;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

.input-answers {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    color: rgb(80, 75, 2);

}

.input-field2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#delete {
    color: rgb(80, 75, 2);
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border-color: rgb(80, 75, 2);
    border-radius: 10px;
}

#delete:hover {
    color: brown;
}


#edit {
    color: rgb(80, 75, 2);
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border-color: rgb(80, 75, 2);
    border-radius: 10px;
}

#edit:hover {
    color: brown;
}


.button-2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* RESPONSIVE EN RESPUESTAS */

@media (max-width: 1200px) {
    .container {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .box {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

    }
    .input-answers {
        display: flex;
        flex-direction: column;
    
    }
    
    .input-field2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .container {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .box {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

    }
    .input-answers {
        display: flex;
        flex-direction: column;
    
    }
    
    .input-field2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .container {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .box {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

    }
    .input-answers {
        display: flex;
        flex-direction: column;
    
    }
    
    .input-field2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 300px) {
    .container {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .box {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

    }
    .input-answers {
        display: flex;
        flex-direction: column;
    
    }
    
    .input-field2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}
/* FOOTER */

footer {
    background-color: rgb(247, 242, 181);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.foot .text {
    color: rgb(80, 75, 2);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.foot .social img {
    height: 30px;
}

/*  RESPONSIVE EN FOOTER */

@media (max-width: 1200px) {
    footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 900px) {
    footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 600px) {
    footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 300px) {
    footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
